body{
    position: relative;
    overflow: hidden;
}
canvas{
    border: 2px solid deepskyblue;
    width: 99.5vw;
    height: 99.5vh;
}

section{
    display: flex;
    position: absolute;
    height: 100px;
    width: max-content;
    background: white;
    top: 5px;
    left: 0;
    right: 0;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

section > div{
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    gap: 5px;
}

input{
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}

i{
    font-size: 22px;
}
