body{
    position: relative;
    overflow: hidden;
}
canvas{
    border: 2px solid deepskyblue;
    width: 99.5vw;
    height: 99.5vh;
}

section{
    position: absolute;
    height: 100px;
    width: max-content;
    background: deepskyblue;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

section > div{
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}

input{
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}
